:root {
  --text-color: #757575;
  --selection-color: #2196f3;
  --main-white: #ffffff;
  --logo-black: #000000;
  --bodytext-color: #212121;
  --footerbackground-color: #2f303a;
  --teamsectionbackgroundn-color: #f5f4fa;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--bodytext-color);
  font-size: 16px;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.container > li {
  list-style-type: none;
}
/* logo top*/
.logo-web-top,
.logo-studio-top {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03;
}
.logo-studio-top {
  color: var(--logo-black);
}

.logo-web-top {
  color: var(--selection-color);
}

/* end - logo top */

/* header */
.header-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 80px;
  margin: auto;
  padding: 0px;
  list-style: none;
  border: 1px solid #ececec;
}

.header.container > a {
  text-decoration: none;
}

.header.container {
  display: flex;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
}

/* end - header */
/* navigation menu */
.navigation-links {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02;
  text-indent: 46px;
  margin-left: 93px;
  display: flex;
  align-items: center;
}

.navigation-links a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02;
}

.navigation-links > li {
  list-style-type: none;
}

.navigation-links a:hover,
.navigation-links a:focus,
.navigation-links a:active {
  color: var(--selection-color);
}

nav a {
  color: var(--main-text-color);
  text-decoration: none;
}

.contact {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.contact > li {
  list-style-type: none;
}

.contact a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02;
}

.contact a:hover,
.contact a:focus,
.contact a:active {
  color: var(--selection-color);
}

/* end-navigation menu */

/* main */
.title-main.container {
  display: flex;
  justify-content: center;
  margin: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06;
  text-transform: uppercase;
  color: var(--main-white);
  width: auto;
}

.main-section-background {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  margin-left: 0px;
  height: 600px;
  width: auto;
  text-align: center;
  background-color: var(--footerbackground-color);
}

.main-button.heigh-button {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06;
  text-align: center;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  color: var(--main-white);
  background: var(--selection-color);
}

.main-button:hover,
.main-button:focus,
.main-button:active {
  color: var(--main-white);
  background: var(--selection-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* end - main */

/* section lorem */
.title-about {
  width: 270px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03;
  text-transform: uppercase;
  margin-bottom: 10px;
  justify-content: center;
  color: var(--bodytext-color);
  
}

.text-about {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  vertical-align: top;
}

.lorem-area {
  width: 270px;
}
.lorem-section-area {
  display: flex;
  justify-content: center;
}
.lorem-area:not(:last-child) {
  margin-right: 30px;
}

.lorem-list {
  display: flex;
  justify-content: center;
  width: 1170px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  list-style-type: none;
}
/* end - lorem section */

/* image section */
.image-section {
  justify-content: center;
  display: block;
  padding-top: 0px;
}

.image-title {
  display: block;
  justify-content: center;
  width: auto;
  display: block;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03;
  margin-bottom: 50px;
  color: var(--bodytext-color);
}

.link-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-right: 0px;
  margin-left: 0px;
  list-style-type: none;
  padding-left: 0px;
}

.image-section.container {
  margin: 0px;
  width: 1170px;
}

/* end - image section */
/* teamcard section */
.teamcard-section-background {
  width: auto;
  display: block;
  background-color: var(--teamsectionbackgroundn-color);
}

.teamcard-section {
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.teamcard-title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03;
  margin-bottom: 50px;
}

.teamcard-figure {
  padding-bottom: 94px;
  justify-content: center;
  display: block;
  background-color: var(--main-white);
  width: 270px;
  height: 368px;
  margin: 0px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.teamcard-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-left: 0px;
  width: auto;
}

.team-caption > .upper-caption {
  justify-content: center;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 1.19;
  margin-left: 0px;
  margin-right: 0px;
  letter-spacing: 0.03;
  color: var(--bodytext-color);
}

.team-caption {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.teamcard-list > li {
  list-style-type: none;
}

.team-caption .upper-caption {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03;
}

.team-caption .lower-caption {
  font-size: 14px;
  color: var(--text-color);
  line-height: 1.46;
  letter-spacing: 0.03;
}

/* end- teamcard section */
/* footer */
/* logo-bottom */
.logo-web-bottom,
.logo-studio-bottom {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03;
}

.logo-web-bottom {
  color: var(--selection-color);
}

.logo-studio-bottom {
  color: var(--main-white);
}

/* end - logo bottom */

footer {
  background-color: var(--footerbackground-color);
  width: auto;
}
.footer-area {
  height: 252px;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-contacts-list .site {
  color: var(--main-white);
}

.footer-contacts-list .contact {
  color: #ffffff99;
}

.footer-contacts-list a {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03;
  list-style-type: none;
}

.footer-contacts-list .site:hover,
.footer-contacts-list .site:focus,
.footer-contacts-list .site:active {
  color: var(--selection-color);
}

.footer-contacts-list {
  padding-left: 0px;
}

.footer-contacts-list li {
  display: block;
  justify-content: flex-start;
  padding-bottom: 9px;
}

.footer-contacts-list > li {
  list-style-type: none;
}

.footer-contacts-list a {
  text-decoration: none;
}

.footer-address .contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts-list .contact:hover,
.footer-contacts-list .contact:focus,
.footer-contacts-list .contact:active {
  color: var(--selection-color);
}

/* portfolio */
/* buttons */
button[type="button"] {
  cursor: pointer;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
  background-color: var(--teamsectionbackgroundn-color);
}

button[type="button"]:hover,
button[type="button"]:focus,
button[type="button"]:active {
  color: var(--main-white);
  background: var(--selection-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.button-element:not(:last-child) {
  margin-right: 8px;
}
/* end - buttons */
.projects-section {
  display: block;
  justify-content: center;
}
.projects.container {
  display: flex;
  justify-content: center;
  margin: auto;
}
.projects-filter {
  height: 54px;
  width: 572px;
  display: flex;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
  justify-content: center;
}

.projects-card .upper-caption {
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06;
  color: var(--bodytext-color);
  padding-top: 20px;
  padding-bottom: 4px;
  vertical-align: top;
  padding-left: 24px;
  padding-right: 24px;
}

.projects-card .lower-caption {
  text-align: left;
  line-height: 1.88;
  letter-spacing: 0.03em;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  color: var(--text-color);
}

.projects-list li {
  list-style-type: none;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 1170px;
}

.projects-card {
  width: 370px;
  flex-basis: 13%;
  display: block;
  align-content: center;
  margin: 0px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
  border-bottom: 1px solid #eeeeee;
}

/* end - portfolio */
